.git/
*.log
*.pid
log
mpd/
mutt/cache/
mutt/aliases_auto
config/dwb/default/*history
config/dwb/default/session
config/dwb/default/plugindb
config/dwb/default/custom_keys
config/dwb/default/cookies*
mpdscribble/lastfm.journal
vim/bundle/
vim/undodir/
vim/plugged/
vim/autoload/plug.vim.old
**/.imappass
**/.muttpass
spacefm/session*
.netrwhist
mpv/watch_later/*
