**/.imappass
**/.muttpass
*.log
*.pid
.git/
.netrwhist
config/dwb/default/*history
config/dwb/default/cookies*
config/dwb/default/custom_keys
config/dwb/default/plugindb
config/dwb/default/session
config/ranger/bookmarks
config/ranger/history
config/ranger/tagged
config/ranger/colorschemes/__pycache__/
log
mpd/
mpdscribble/lastfm.journal
mpv/watch_later/*
mutt/aliases_auto
mutt/cache/
spacefm/session*
vifm/Trash/
vifm/vifminfo
vifm/vimfiles
vim/autoload/plug.vim
vim/autoload/plug.vim.old
vim/bundle/
vim/plugged/
vim/undodir/
vim/tmp/
