<?xml version="1.0" encoding="UTF-8"?>
<openbox_menu>
	<menu id="root-menu" label="OpenBox 3">
		<menu id="1" label="Development">
			<item label="IDLE"> <action name="Execute">
				<execute>idle</execute>
			</action> </item>
			<item label="Meld"> <action name="Execute">
				<execute>meld</execute>
			</action> </item>
			<item label="Python"> <action name="Execute">
				<execute>xterm -e python</execute>
			</action> </item>
			<item label="Qt Assistant"> <action name="Execute">
				<execute>assistant</execute>
			</action> </item>
			<item label="Qt Designer"> <action name="Execute">
				<execute>designer</execute>
			</action> </item>
			<item label="Qt Linguist"> <action name="Execute">
				<execute>linguist</execute>
			</action> </item>
		</menu>
		<menu id="2" label="Editors">
			<item label="AA Fire"> <action name="Execute">
				<execute>xterm -e aafire -driver slang</execute>
			</action> </item>
			<item label="Emacs"> <action name="Execute">
				<execute>xterm -e emacs</execute>
			</action> </item>
			<item label="Leafpad"> <action name="Execute">
				<execute>leafpad</execute>
			</action> </item>
			<item label="Nano"> <action name="Execute">
				<execute>xterm -e nano</execute>
			</action> </item>
			<item label="PDF Editor"> <action name="Execute">
				<execute>pdfedit</execute>
			</action> </item>
			<item label="Sublime Text"> <action name="Execute">
				<execute>subl</execute>
			</action> </item>
		</menu>
		<menu id="18" label="Games">
			<menu id="9" label="Adventure">
				<item label="Sclient"> <action name="Execute">
					<execute>sclient</execute>
				</action> </item>
			</menu>
			<menu id="10" label="Arcade">
				<item label="PacMan"> <action name="Execute">
					<execute>pacman</execute>
				</action> </item>
			</menu>
		</menu>
		<menu id="6" label="Graphics">
			<item label="E-book Viewer"> <action name="Execute">
				<execute>ebook-viewer</execute>
			</action> </item>
			<item label="Inkscape"> <action name="Execute">
				<execute>inkscape</execute>
			</action> </item>
			<item label="LRF Viewer"> <action name="Execute">
				<execute>lrfviewer</execute>
			</action> </item>
			<item label="Mirage"> <action name="Execute">
				<execute>mirage</execute>
			</action> </item>
			<item label="MuPDF"> <action name="Execute">
				<execute>mupdf</execute>
			</action> </item>
			<item label="XGlyph"> <action name="Execute">
				<execute>xglyph</execute>
			</action> </item>
		</menu>
		<menu id="7" label="Multimedia">
			<item label="ALSA mixer"> <action name="Execute">
				<execute>xterm -e alsamixer</execute>
			</action> </item>
			<item label="Ario"> <action name="Execute">
				<execute>ario</execute>
			</action> </item>
			<item label="Asunder CD Ripper"> <action name="Execute">
				<execute>asunder</execute>
			</action> </item>
			<item label="EasyTag"> <action name="Execute">
				<execute>easytag</execute>
			</action> </item>
			<item label="Gnome Music Player Client"> <action name="Execute">
				<execute>gmpc</execute>
			</action> </item>
		</menu>
		<menu id="5" label="Network">
			<item label="Avahi SSH Server Browser"> <action name="Execute">
				<execute>bssh</execute>
			</action> </item>
			<item label="Avahi VNC Server Browser"> <action name="Execute">
				<execute>bvnc</execute>
			</action> </item>
			<item label="Chromium"> <action name="Execute">
				<execute>chromium</execute>
			</action> </item>
			<item label="FireFox"> <action name="Execute">
				<execute>firefox</execute>
			</action> </item>
			<item label="FTP"> <action name="Execute">
				<execute>xterm -e ftp</execute>
			</action> </item>
			<item label="Google Chrome"> <action name="Execute">
				<execute>google-chrome</execute>
			</action> </item>
			<item label="Google Music Manager"> <action name="Execute">
				<execute>google-musicmanager</execute>
			</action> </item>
			<item label="Links"> <action name="Execute">
				<execute>xterm -e links</execute>
			</action> </item>
			<item label="Links"> <action name="Execute">
				<execute>xlinks -g</execute>
			</action> </item>
			<item label="Mail Reader"> <action name="Execute">
				<execute>exo-open --launch MailReader</execute>
			</action> </item>
			<item label="Talk"> <action name="Execute">
				<execute>xterm -e talk</execute>
			</action> </item>
			<item label="Telnet"> <action name="Execute">
				<execute>xterm -e telnet</execute>
			</action> </item>
			<item label="TkVNC"> <action name="Execute">
				<execute>xterm -e tkvnc</execute>
			</action> </item>
			<item label="Transmission"> <action name="Execute">
				<execute>transmission-gtk</execute>
			</action> </item>
			<item label="Web Browser"> <action name="Execute">
				<execute>exo-open --launch WebBrowser</execute>
			</action> </item>
		</menu>
		<menu id="3" label="Office">
			<item label="AbiWord"> <action name="Execute">
				<execute>abiword</execute>
			</action> </item>
			<item label="Evince"> <action name="Execute">
				<execute>evince</execute>
			</action> </item>
			<item label="Gnumeric"> <action name="Execute">
				<execute>gnumeric</execute>
			</action> </item>
			<item label="Zathura"> <action name="Execute">
				<execute>zathura</execute>
			</action> </item>
		</menu>
		<menu id="39" label="Other">
			<item label="Calibre"> <action name="Execute">
				<execute>calibre</execute>
			</action> </item>
			<item label="Dropbox"> <action name="Execute">
				<execute>dropboxd</execute>
			</action> </item>
			<item label="QT V4L2 test Utility"> <action name="Execute">
				<execute>qv4l2</execute>
			</action> </item>
			<item label="Redshift"> <action name="Execute">
				<execute>gtk-redshift</execute>
			</action> </item>
			<item label="Wicd"> <action name="Execute">
				<execute>wicd-client</execute>
			</action> </item>
		</menu>
		<menu id="4" label="Science">
			<item label="Gnuplot"> <action name="Execute">
				<execute>xterm -e gnuplot</execute>
			</action> </item>
		</menu>
		<menu id="19" label="Shells">
			<item label="Dash"> <action name="Execute">
				<execute>xterm -e dash -i</execute>
			</action> </item>
			<item label="emelFM2"> <action name="Execute">
				<execute>emelfm2</execute>
			</action> </item>
			<item label="Files"> <action name="Execute">
				<execute>pantheon-files</execute>
			</action> </item>
			<item label="GIT"> <action name="Execute">
				<execute>xterm -e git</execute>
			</action> </item>
			<item label="Root Terminal"> <action name="Execute">
				<execute>gksu -l gnome-terminal</execute>
			</action> </item>
			<item label="Terminator"> <action name="Execute">
				<execute>terminator</execute>
			</action> </item>
			<item label="Thunar File Manager"> <action name="Execute">
				<execute>thunar</execute>
			</action> </item>
			<item label="UXTerm"> <action name="Execute">
				<execute>uxterm</execute>
			</action> </item>
			<item label="Xfce Terminal"> <action name="Execute">
				<execute>xfce4-terminal</execute>
			</action> </item>
			<item label="Xterm"> <action name="Execute">
				<execute>xterm</execute>
			</action> </item>
		</menu>
		<menu id="37" label="System">
			<menu id="36" label="Settings">
				<menu id="21" label="GNOME">
					<item label="Adobe Flash Player"> <action name="Execute">
						<execute>flash-player-properties</execute>
					</action> </item>
					<item label="Privilege granting"> <action name="Execute">
						<execute>gksu-properties</execute>
					</action> </item>
				</menu>
				<menu id="35" label="Xfce">
					<item label="Notifications"> <action name="Execute">
						<execute>xfce4-notifyd-config</execute>
					</action> </item>
					<item label="Settings Manager"> <action name="Execute">
						<execute>xfce4-settings-manager</execute>
					</action> </item>
				</menu>
				<item label="Accessibility"> <action name="Execute">
					<execute>xfce4-accessibility-settings</execute>
				</action> </item>
				<item label="Appearance"> <action name="Execute">
					<execute>xfce4-appearance-settings</execute>
				</action> </item>
				<item label="ARandR"> <action name="Execute">
					<execute>arandr</execute>
				</action> </item>
				<item label="Customize Look and Feel"> <action name="Execute">
					<execute>lxappearance</execute>
				</action> </item>
				<item label="Desktop"> <action name="Execute">
					<execute>xfdesktop-settings</execute>
				</action> </item>
				<item label="Display"> <action name="Execute">
					<execute>xfce4-display-settings</execute>
				</action> </item>
				<item label="File Manager"> <action name="Execute">
					<execute>thunar-settings</execute>
				</action> </item>
				<item label="Keyboard"> <action name="Execute">
					<execute>xfce4-keyboard-settings</execute>
				</action> </item>
				<item label="MIME Type Editor"> <action name="Execute">
					<execute>xfce4-mime-settings</execute>
				</action> </item>
				<item label="Mouse and Touchpad"> <action name="Execute">
					<execute>xfce4-mouse-settings</execute>
				</action> </item>
				<item label="Openbox Configuration Manager"> <action name="Execute">
					<execute>obconf</execute>
				</action> </item>
				<item label="Panel"> <action name="Execute">
					<execute>xfce4-panel --preferences</execute>
				</action> </item>
				<item label="Power Manager"> <action name="Execute">
					<execute>xfce4-power-manager-settings</execute>
				</action> </item>
				<item label="Preferred Applications"> <action name="Execute">
					<execute>exo-preferred-applications</execute>
				</action> </item>
				<item label="Removable Drives and Media"> <action name="Execute">
					<execute>thunar-volman-settings</execute>
				</action> </item>
				<item label="Session and Startup"> <action name="Execute">
					<execute>xfce4-session-settings</execute>
				</action> </item>
				<item label="Settings Editor"> <action name="Execute">
					<execute>xfce4-settings-editor</execute>
				</action> </item>
				<item label="Window Manager"> <action name="Execute">
					<execute>xfwm4-settings</execute>
				</action> </item>
				<item label="Window Manager Tweaks"> <action name="Execute">
					<execute>xfwm4-tweaks-settings</execute>
				</action> </item>
				<item label="Workspaces"> <action name="Execute">
					<execute>xfwm4-workspace-settings</execute>
				</action> </item>
			</menu>
			<item label="Avahi Zeroconf Browser"> <action name="Execute">
				<execute>avahi-discover</execute>
			</action> </item>
			<item label="BleachBit"> <action name="Execute">
				<execute>bleachbit</execute>
			</action> </item>
			<item label="Bulk Rename"> <action name="Execute">
				<execute>/usr/lib/Thunar/ThunarBulkRename</execute>
			</action> </item>
			<item label="dconf Editor"> <action name="Execute">
				<execute>dconf-editor</execute>
			</action> </item>
			<item label="GDM Setup"> <action name="Execute">
				<execute>gksu gdmsetup</execute>
			</action> </item>
			<item label="GParted"> <action name="Execute">
				<execute>gparted-pkexec</execute>
			</action> </item>
			<item label="Grsync"> <action name="Execute">
				<execute>grsync</execute>
			</action> </item>
			<item label="Log Out"> <action name="Execute">
				<execute>xfce4-session-logout</execute>
			</action> </item>
			<item label="pstree"> <action name="Execute">
				<execute>xterm -e pstree.x11</execute>
			</action> </item>
			<item label="pstree"> <action name="Execute">
				<execute>xterm -e pstree</execute>
			</action> </item>
			<item label="pstree"> <action name="Execute">
				<execute>xterm -e /usr/bin/pstree.x11</execute>
			</action> </item>
			<item label="Task Manager"> <action name="Execute">
				<execute>xfce4-taskmanager</execute>
			</action> </item>
			<item label="Top"> <action name="Execute">
				<execute>xterm -e top</execute>
			</action> </item>
		</menu>
		<menu id="38" label="Utilities">
			<item label="Application Finder"> <action name="Execute">
				<execute>xfce4-appfinder</execute>
			</action> </item>
			<item label="Archive Manager"> <action name="Execute">
				<execute>file-roller</execute>
			</action> </item>
			<item label="File Manager"> <action name="Execute">
				<execute>exo-open --launch FileManager</execute>
			</action> </item>
			<item label="Info"> <action name="Execute">
				<execute>xterm -e info</execute>
			</action> </item>
			<item label="Run Program..."> <action name="Execute">
				<execute>xfce4-appfinder --collapsed</execute>
			</action> </item>
			<item label="SpaceFM File Search"> <action name="Execute">
				<execute>spacefm</execute>
			</action> </item>
			<item label="Terminal Emulator"> <action name="Execute">
				<execute>exo-open --launch TerminalEmulator</execute>
			</action> </item>
			<item label="Xev"> <action name="Execute">
				<execute>xterm -e xev</execute>
			</action> </item>
			<item label="Xkill"> <action name="Execute">
				<execute>xkill</execute>
			</action> </item>
			<item label="Xrefresh"> <action name="Execute">
				<execute>xrefresh</execute>
			</action> </item>
			<item label="Xsetroot"> <action name="Execute">
				<execute>xsetroot</execute>
			</action> </item>
		</menu>
		<separator/>
		<menu id="40" label="OpenBox">
			<menu id="client-list-menu"/>
			<item label="Reconfigure"> <action name="Reconfigure"/> </item>
			<separator/>
			<item label="Exit"> <action name="Exit"/> </item>
		</menu>
	</menu>
</openbox_menu>
