#snippet /(a|A)rr(ay)?(l|L)(ist)?/ "Collections List" b
snippet arrl "Array List" w
ArrayList<${1:String}> ${2:list} = new ${3:Array}List<$1>();
endsnippet

snippet /jun(it)?/ "Import Junit" br
import org.junit.Test;
import static org.junit.Assert.*;
endsnippet
